extends _layouts/_main-layout

block vars
	- var fourOhFour = true
	- var pageTitle = '404 - Page not found |'

block content

	.barba-container(data-namespace='fourohfour')

		section#fourohfour.section-centered
			
			.fourohfour-content.centered-content

				.fourohfour-content-wrapper.centered-content-wrapper
					h2
						span Oops. You've hit a 404.
					p The page you were looking for isn't here. Sorry.