extends _layouts/_main-layout

block vars
	- var fourOhFour = true
	- var pageTitle = 'Oops'

block content

	.barba-container(data-namespace='fourohfour')

		section#fourohfour.section-centered
			
			.fourohfour-content.centered-content

				.fourohfour-content-wrapper.centered-content-wrapper
					h2 404
					p.location nOT FOuND