extends _layouts/_main-layout

block vars
	- var about = true
	- var pageTitle = 'About'

block content

	.barba-container(data-namespace='about')

		section#about

			.small-container

				.section-title
					h2.fade-up About Me

				.about-container
					p If I were to trace back to the first memory I have related to the internet, an alluring feeling of wonder and excitement for websites would be hidden in there somewhere.
					p After spending most of my childhood years messing around with all kinds of things, like <a href="https://www.youtube.com/playlist?list=PLIRY5Wv9_6OjTwBTH6q6-nq6OSR9FAObh", target="_blank">editing gaming videos</a>, I decided to focus on my lifelong passion – creating websites. I decided to sit my ass down and overcome my fear of CSS. And that I did.
					p Now, with over 3 years of professional experience in web design and development, I consider myself skilled enough to proudly present a selection of my <a href="projects">projects</a>.

			img(src="img/about.png", class="about-image")
