extends _layouts/_main-layout

block vars
	- var home = true

block content

	.barba-container(data-namespace='home')

		section#home.section-centered
			
			.home-content.centered-content

				.home-content-wrapper.centered-content-wrapper
					h2
						span Hi, I'm Edin.
						br
						span I design and code websites.

					p
						| I also design some sleek looking UIs with great UX in mind.
						br
						| I'm currently the main website guy at <a href="https://www.onupkeep.com" target="_blank">UpKeep</a>. 
