extends _layouts/_main-layout

block vars
	- var home = true

block content

	.barba-container(data-namespace='home')

		section#home.section-centered
			
			.home-content.centered-content

				.home-content-wrapper.centered-content-wrapper
					h2
						span Hi, I'm Edin.
						br
						span I design and code websites.

					p
						| I help brands stand out by creating highly appealing and fun to use websites. 
						br
						| I'm a co-founder of <a href="http://rru.sh">rrush</a>, where I also lead the front-end division.