@import 'https://fonts.googleapis.com/css?family=Overpass'

@font-face {
	font-family: 'League Spartan';
	src: url('../fonts/LeagueSpartan-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'social';
	src:
		url('../fonts/social.woff?f8spa6') format('woff');
	font-weight: normal;
	font-style: normal;
}
