code[class*="language-"],
pre[class*="language-"]
	color white
	background none
	font-family Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace
	text-align left
	white-space pre
	word-spacing normal
	word-break normal
	word-wrap normal
	line-height 1.5
	-moz-tab-size 4
	-o-tab-size 4
	tab-size 4
	-webkit-hyphens none
	-moz-hyphens none
	-ms-hyphens none
	hyphens none

pre[class*="language-"],
:not(pre) > code[class*="language-"]
	background lighten(color-primary, 5%)

pre[class*="language-"]
	overflow auto
	padding 1em

pre[class*="language-"]::-moz-selection
	background hsl(200, 4%, 16%)

pre[class*="language-"]::selection
	background hsl(200, 4%, 16%)

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection
	text-shadow none
	background hsla(0, 0%, 93%, 0.15)

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection
	text-shadow none
	background hsla(0, 0%, 93%, 0.15)

:not(pre)
	& > code[class*="language-"]
		border-radius .3em
		border .13em solid hsl(0, 0%, 33%)
		padding .15em .2em .05em
		white-space normal

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata
	color hsl(0, 0%, 47%)

.token
	position relative
	z-index 1
	&.punctuation
		opacity .7
	&.atrule
		color hsl(218, 22%, 55%)
	&.italic
		font-style italic
	&.entity
		cursor help
	a
		color inherit

.namespace
	opacity .7

.token.tag,
.token.boolean,
.token.number,
.token.deleted
	color hsl(14, 58%, 55%)

.token.keyword,
.token.property,
.token.selector,
.token.constant,
.token.symbol,
.token.builtin
	color hsl(53, 89%, 79%)

.token.attr-name,
.token.attr-value,
.token.string,
.token.char,
.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string,
.token.variable,
.token.inserted
	color hsl(76, 21%, 52%)

.token.regex,
.token.important
	color hsl(42, 75%, 65%)

.token.important,
.token.bold
	font-weight bold

pre[data-line]
	padding 1em 0 1em 3em
	position relative
	position relative
	padding 1em 0 1em 3em

.language-markup .token.tag,
.language-markup .token.attr-name,
.language-markup .token.punctuation
	color hsl(33, 33%, 52%)

.line-highlight
	background hsla(0, 0%, 33%, 0.25)
	background linear-gradient(to right, hsla(0, 0%, 33%, .1) 70%, hsla(0, 0%, 33%, 0))
	border-bottom 1px dashed hsl(0, 0%, 33%)
	border-top 1px dashed hsl(0, 0%, 33%)
	left 0
	line-height inherit
	margin-top 0.75em
	padding inherit 0
	pointer-events none
	position absolute
	right 0
	white-space pre
	z-index 0
	position absolute
	left 0
	right 0
	padding inherit 0
	margin-top 1em
	background hsla(24, 20%, 50%,.08)
	background linear-gradient(to right, hsla(24, 20%, 50%,.1) 70%, hsla(24, 20%, 50%,0))
	pointer-events none
	line-height inherit
	white-space pre

.line-highlight:before,
.line-highlight[data-end]:after
	background-color hsl(215, 15%, 59%)
	border-radius 999px
	color hsl(24, 20%, 95%)
	content attr(data-start)
	font bold 65%/1.5 sans-serif
	left .6em
	min-width 1em
	padding 0 .5em
	position absolute
	text-align center
	text-shadow none
	top .4em
	vertical-align .3em

.line-highlight[data-end]:after
	bottom .4em
	content attr(data-end)
	top auto
	content attr(data-end)
	top auto
	bottom .4em

.line-highlight:before,
	.line-highlight[data-end]:after
	content attr(data-start)
	position absolute
	top .4em
	left .6em
	min-width 1em
	padding 0 .5em
	background-color hsla(24, 20%, 50%,.4)
	color hsl(24, 20%, 95%)
	font bold 65%/1.5 sans-serif
	text-align center
	vertical-align .3em
	border-radius 999px
	text-shadow none

div
	&.prism-show-language
		position relative
		& > div
			&.prism-show-language-label
				color black
				background-color #CFCFCF
				display inline-block
				position absolute
				bottom auto
				left auto
				top 0
				right 0
				width auto
				height auto
				font-size 0.9em
				border-radius 0 0 0 5px
				padding 0 0.5em
				text-shadow none
				z-index 1
				box-shadow none
				-webkit-transform none
				-moz-transform none
				-ms-transform none
				-o-transform none
				transform none

.prism-previewer,
.prism-previewer:before,
.prism-previewer:after
	position absolute
	pointer-events none

.prism-previewer,
.prism-previewer:after
	left 50%

.prism-previewer
	margin-top -48px
	width 32px
	height 32px
	margin-left -16px
	opacity 0
	-webkit-transition opacity .25s
	-o-transition opacity .25s
	transition opacity .25s
	&.flipped
		margin-top 0
		margin-bottom -48px
		&:after
			top auto
			bottom 100%
			margin-top 0
			margin-bottom 5px
			border-top-color rgba(255, 0, 0, 0)
			border-bottom-color #fff
	&:before
		top -5px
		right -5px
		left -5px
		bottom -5px
		border-radius 10px
		border 5px solid #fff
	&:after
		top 100%
		width 0
		height 0
		margin 5px 0 0 -7px
		border 7px solid transparent
		border-color rgba(255, 0, 0, 0)
		border-top-color #fff
	&.active
		opacity 1

.prism-previewer:before,
.prism-previewer:after
	content ''
	position absolute
	pointer-events none

.prism-previewer-color
	background-image linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb)
	background-size 10px 10px
	background-position 0 0, 5px 5px
	&:before
		background-color inherit
		background-clip padding-box

.prism-previewer-gradient
	background-image linear-gradient(45deg, #bbb 25%, transparent 25%, transparent 75%, #bbb 75%, #bbb), linear-gradient(45deg, #bbb 25%, #eee 25%, #eee 75%, #bbb 75%, #bbb)
	background-size 10px 10px
	background-position 0 0, 5px 5px
	width 64px
	margin-left -32px
	&:before
		content none
	div
		position absolute
		top -5px
		left -5px
		right -5px
		bottom -5px
		border-radius 10px
		border 5px solid #fff

.prism-previewer-easing
	margin-top -76px
	margin-left -30px
	width 60px
	height 60px
	background #333
	&.flipped
		margin-bottom -116px
	svg
		width 60px
		height 60px
	circle
		fill hsl(200, 10%, 20%)
		stroke white
	path
		fill none
		stroke white
		stroke-linecap round
		stroke-width 4
	line
		stroke white
		stroke-opacity 0.5
		stroke-width 2

.lang-markup script[type='text/plain'],
.language-markup script[type='text/plain'],
script[type='text/plain'].lang-markup,
script[type='text/plain'].language-markup
	display block
	font 100% Consolas, Monaco, monospace
	white-space pre
	overflow auto

