// Define main pad

pad = 40px



// Define color variables

// color-primary = lighten(#eee, 20%)
// color-secondary = tomato
// color-tertiary = #FFFFA6
// color-white = darken(#606062, 50%)
// color-black = #000

color-primary = #18212D
color-secondary = #31FFA6
color-tertiary = #FFFFA6
color-white = #fff
color-black = #000



// Define font calls

font-heading()
	font-family 'League Spartan', sans-serif
	
font-paragraph()
	font-family 'Source Sans Pro', sans-serif



// Define device sizes

small = 550px
medium = 795px
smallContainer = 800px
navScale = 585px
container = 75%
large = 1300px



// Define easings

easeOutBack = cubic-bezier(0.175,0.885,0.320,1.275)
easeOutCubic = cubic-bezier(0.215,0.610,0.355,1.000)
easeOutQuart = cubic-bezier(0.165,0.840,0.440,1.000)