footer
	
	.copy-links
		ul
			li
				a(href="https://roots.cx", target="_blank") Built with Roots
			li
				a(href="https://netlify.com", target="_blank") Hosted on Netlify
			li
				a(href="https://github.com/edinchez/edinabazi.com", target="_blank") Source

	.social
		a(href="https://twitter.com/edinchez", target="_blank")
			span.icon.icon-twitter
		a(href="https://github.com/edinchez", target="_blank")
			span.icon.icon-github
		a(href="https://instagram.com/edinabazi", target="_blank")
			span.icon.icon-instagram
