---
title: 'Gota Me Pika'
date: 2016-09-07
type: 'Development'
cover: 'gotamepika/gotamepika-cover.png'
url: 'http://gotamepika.com'
_render: false
---

| Gota Me Pika is a very well known traditional brand of tea utensils and tea related products. The site is an attempt to distill the taste and experience in a more modern format.