---
title: 'Lifeslice'
date: 2016-09-08
type: 'Development'
cover: 'lifeslice/lifeslice-cover.png'
url: 'http://lifeslice.io'
_render: false
---


| Lifeslice is a startup which seeks to connect people and empower them via video stories. In channeling the social spirit of the brand, I have opted to provide a fun and interactive web presence for them.