---
title: 'Luxmainer'
date: 2015-11-08
type: 'Front-End Development'
cover: 'luxmainer/luxmainer-cover.png'
url: 'http://luxmainer.com'
_render: false
---

| Luxmainer is an energy-efficient lighting brand, which seeks to provide cutting-edge lighting solutions. In following the brand message, the site design and interactivity is inspired by the ultra minimal and functional products.