---
title: 'Two Cats Kitchen'
date: 2016-09-05
type: 'Design & Development'
cover: 'twocats/twocats-cover.jpg'
url: 'http://twocatskitchen.com'
_render: false
---


| The fine dining experience offered by Two Cats Kitchen needed a suitable online representation. That's where I was called to step in. The solution offered was a beautiful and minimal experience developed in AngularJS using a custom backend.