---
title: 'Hello world!'
date: '2016-11-30'
category: 'Words'
---

extends ../_layouts/_post-layout

block vars
	- var pageTitle = post.title + ' |'
	- var blog = true

block content
	:markdown
		I'll update this with an actual blog post very soon, I promise. Sorry.