extends ../_layouts/_main-layout

block vars
	- var blog = true
	- var pageTitle = 'Posts written by'

block content

	.barba-container(data-namespace='blog')
		
		section#blog
			.container

				.section-title
					h2.fade-up Personal Blog

				.posts-container
					
					article.post
						a(href="https://medium.com/@edinabazi/the-journey-of-creating-a-personal-website-b43ea29e74c0#.fankeviwn", target="_blank")
							.post-title
								h2 The journey of creating a personal website

							.post-bottom
								.post-meta
									span.date 2017-01-11
									span.cat Thoughts
								
								.read-external
									p
										| Read on Medium
										include ../_partials/icon-link.html
