---
title: 'The (lousy but fun) journey of creating a personal website'
subtitle: 'Or, how no creator is ever satisfied with themselves'
date: '2016-12-06'
category: 'Words'
---

extends ../_layouts/_post-layout

block vars
  - var pageTitle = post.title + ' |'
  - var blog = true

block content
  :markdown
    It's done. It's over. Finally. After an entire year, and four full remakes (complete with design _and_ code), I finally published my own personal website.

    To be honest, I never thought it would happen. It had been so long, and I'd gone through so many iterations, that I just accepted it as a part of my life that I'd be working on countless versions of my personal websites and never publish one.

    But once I got this one close to finishing, _ish_, my girlfriend kept pestering me every single day to just finish and publish it. And I'm so grateful to her for that. I'm 100% sure that this would have gone on for at least another couple years (and a number of other remakes) if she hadn't done that.

    ## A state of unhappiness

    I don't think anyone is happy with what they create for themselves. I was discussing this topic with one of my previous coworkers some time ago, and he agreed with me passionately. He's been both designing and coding websites for quite a few years, and he was telling me how he had never been able to create anything for himself, nor for the company he's co-founded.

    When we creators do work for ourselves, we are extremely critical of every single aspect every step of the way; because the world is going to judge our skills! _If he did such an awful job on his personal website, who knows how *awful* his other work is._

    ## The happy part...?